{% extends 'base.html' %}
{% block title %}Contacts{% endblock %}
{% block content %}
    <div id="Chats">
        {% for chat in chats %}
            <div class="chat">
                <a href="{{ url_for('chats.chat', chat_id=chat.id) }}">
                    {% if chat.name != None %}
                        {{ chat.name }}
                    {% else %}
                        {% for user in chats[chat] %}
                            {% if user != current_user %}
                                {{ user.nickname }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    <script>

    </script>
{% endblock %}