{% extends 'base.html' %}
{% block title %}Contacts{% endblock %}
{% block content %}
    <a href="{{ url_for('profile.profile_page', user_id=current_user.id) }}">{{ current_user.nickname }}</a><br><br>
    <a href="{{ url_for('chats.find') }}">New contact</a>
    <div id="Chats">
        {% for link in user_chats_links %}
            <div class="chat">
                <a href="{{ url_for('chats.chat', chat_id=link.chat_id) }}">
                    {{ link.name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}